# Python Cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

.env.production
# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Temporary Files
temp/
tmp/

# Uploaded Files
uploads/

# Windows Files
Thumbs.db
Desktop.ini